* {
  font-size: 30px;
}
p {
  margin: 0;
}

.frame {
  margin: 0;
  border: 2px solid;
  display: grid;
  grid-template-columns: 0.1fr 8fr 0.1fr;
  grid-template-rows: 0.1fr 8fr 0.1fr;
  grid-template-areas:
    ". letters-up ."
    "numbers-left chess numbers-right"
    ". letters-down .";

  &__numbers-left {
    grid-area: numbers-left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    margin: 0 10px;
  }

  &__letters-up {
    grid-area: letters-up;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin: 0;
  }

  &__chess {
    grid-area: chess;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border: 1px solid;

    &-black {
      background-color: #000;
      min-height: 100px;
    }
  }

  &__numbers-right {
    grid-area: numbers-right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 10px;
  }
  &__letters-down {
    grid-area: letters-down;
    display: flex;
    justify-content: space-around;
    margin: 0;
  }
}
